@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Outfit:wght@900&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Outfit:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Doodle+Shadow&display=swap');


body {
    background-color: #100425;
}



/* Header */

.masthead{
    height: 30vh;
    min-height: 500px;
}

.masthead .col-12{
    color: white;
}

.masthead .col-12 .fw-light{
    font-family: "Jomhuria", serif;
    font-size: 80px;
    margin-bottom: -20px;
}

.masthead .col-12 .lead{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 400;
}




/* Pay ment */

.p {
    margin: 0;
}

.container1 {
    max-width: 900px;
    margin: 30px auto;
    background-color: #e8eaf613;
    padding: 35px;
    border-radius: 10px;
    background: none;
}

.box-right {
    padding: 30px 25px;
    background-color: rgba(255, 255, 255, 0.049);
    border-radius: 15px;
}

.box-left {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.049);
    border-radius: 15px;
}

.textmuted {
    color: white;
    font-family: "Poppins", serif;
    

}

.textmuted2 {
    color: white;
    font-family: "Jomhuria", serif;
    font-size: 35px;
}

.fw {
    font-family: "Poppins", serif;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.h8 .row .details{
    color: white;
}

.bg-green {
    background-color: #d4f8f266;
    color: white;
    padding: 3px 0;
    display: inline;
    border-radius: 25px;
    font-size: 11px
}

.p-blue {
    font-size: 14px;
    color: #d219aa;
}

.fas.fa-circle {
    font-size: 12px;
}

.h7 {
    font-size: 17px;
    color: white;
    font-weight: 600;
    font-family: "Poppins", serif;
}

.h8 {
    font-size: 12px;
    font-family: "Poppins", serif;
}

.h9 {
    font-size: 10px;
    font-family: "Poppins", serif;
}

.form-control {
    box-shadow: none !important;
}

.card input::placeholder {
    font-size: 13px;
    font-family: "Poppins", serif;
}

::placeholder {
    font-size: 13px;
    font-family: "Poppins", serif;
}

input.card {
    position: relative;
}

.far.fa-credit-card {
    position: absolute;
    top: 10px;
    padding: 0 15px;
}

.fas,
.far {
    cursor: pointer;
}

.cursor {
    cursor: pointer;
}

.btn.btn-primary {
    box-shadow: none;
    height: 40px;
    padding: 11px;
    background-color: #DC00D3;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #dc00d587;
}

.d-flex .price{
    text-align: end;
    color: white;
}

.d-flex .amount{
    color: white;
    
}

.form .row .card {
    background-color: #737373;
}


.form .pay input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}
button {
    background: #DC00D3;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #dc00d587;
}




@media(max-width:320px) {
    .h8 {
        font-size: 11px;
    }

    .h7 {
        font-size: 13px;
    }

    ::placeholder {
        font-size: 10px;
    }
}