@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Outfit:wght@900&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Outfit:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;1,100&family=Rubik+Doodle+Shadow&display=swap');


body {
    background-color: #100425;
}




/* Background image */


.page-header {
    background: url('RedOne-Trailer-2-Thumbnail-en-US.jpg')no-repeat;
    position: relative;
    background-size: cover;
    /* Ensure the image covers the entire section */
    background-position: center;
    /* Center the image */
    height: 500px;
    /* You can adjust this value */
    opacity: 0.3;
    /* Optional: for the faded effect */
    max-width: 100%;
}
.page-title {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.card-section {
    position: relative;
    bottom: 60px;
}

.card-block {
    padding: 80px;
    background-color: #d9d9d95e;
    border-radius: 40px;
    margin-top: -14%;
    background: none;
}

.section-title {
    margin-bottom: 60px;
    color: white;
}

.card-section .col-xl-8 .section-title h2 {
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 110px;
    margin-bottom: -20px;
}

.card-section .col-xl-8 .section-title .english {
    font-family: "Poppins", serif;
    font-weight: 500;
    margin-top: -30px;
    font-size: 12px;
}

.card-section .col-xl-8 .section-title .watch {
    margin-top: -10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 12px;
    text-align: end;
}

.card-section .col-xl-8 .section-title .infor {
    display: inline;
    padding-right: 50px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}
/* Card */







.card-custom {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(55, 50, 50, 0.1);
    background-color: #d9d9d918;
}

.card-custom .col .img-fluid {
    min-width: auto;
    height: 50vh;

}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bottom-text {
    font-size: 12px;
}

h5 {
    font-size: 20px;
    font-family: "Jomhuria", serif;
    font-weight: 400;
    font-size: 110px;
    color: white;
    margin-left: 60px;
    margin-top: 40px;
}

p {
    font-size: 12px;
    color: white;
    margin-left: 60px;
    font-family: "Poppins", serif;
    font-size: 15px;
}

.card-custom .col {
    margin-bottom: 50px;
}

/* Top cast */











.container .topcast {
    color: white;
    margin-top: 50px;
    font-family: "Jomhuria", serif;
    font-size: 70px;
    text-decoration: underline;
    margin-bottom: -70px;
}

.box5 {
    position: relative;
    width: 100%;
    /* Full width of the parent container */
    height: 200px;
    /* Fixed height */
    max-width: 150px;
    /* Max width for the card */
    text-align: center;
    margin-bottom: 70px;

}

.box5:after,
.box5:before {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #10c6df;
    position: absolute;
    top: -80px;
    left: 15px;
    opacity: 0;
    z-index: 1;
    transition: all .35s ease;
}

.box5:after {
    top: auto;
    left: auto;
    bottom: -80px;
    right: 15px
}

.box5:hover:after,
.box5:hover:before {
    opacity: .75;
    transform: scale(8);
    transition-delay: .15s
}

.box5 img {
    width: 100%;
    height: 100%;
    transition: all .35s ease-out 0s
}

.box5:hover img {
    opacity: .4
}

.box5 .icon {
    margin: 0;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2;
    transform: scale(0);
    transition: all .35s ease-out
}

.box5:hover .icon {
    transform: scale(1);
    transition-delay: .15s
}

.box5 .box-content {
    padding: 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.box5 .title {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 5px;
    opacity: 0;
    transform: translate(-20px, -20px);
    transition: all .35s ease-out
}

.box5:hover .title {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .15s
}

.box5 .post {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transform: translate(-20px, -20px);
    transition: all .35s ease-out
}

.box5:hover .post {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: .15s
}

.box6 .title,
.box6 img,
.box6:after {
    transition: all .35s ease 0s
}
